@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --bg-color: #8E43AD;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-color);
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.counter {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 20px;
    min-width: 220px;
}

.counter .fab {
    font-size: 50px;
    margin: 16px 0;
}

.count {
    font-size: 60px;
}