@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: #E9967A;
}

.auto-text-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.speed-control {
    margin: 20px;
    padding: 16px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}

.number {
    background-color: #E9967A;
    border: none;
    padding: 6px 2px 6px 16px;
    font-size: 20px;
}

.number:focus {
    outline: none;
}